proyecto en java/WebApplication_sitioWeb/src/conf/xml-resources/web-service-references/ServicioClinica/wsdl/localhost_8080/WebServiceJava/ServicioClinica.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicios/" name="ServicioClinica">
<types>
<xsd:schema>
<xsd:import namespace="http://servicios/" schemaLocation="http://localhost:8080/WebServiceJava/ServicioClinica?xsd=1"/>
</xsd:schema>
</types>
<message name="DatoMedico">
<part name="parameters" element="tns:DatoMedico"/>
</message>
<message name="DatoMedicoResponse">
<part name="parameters" element="tns:DatoMedicoResponse"/>
</message>
<message name="Autentificar">
<part name="parameters" element="tns:Autentificar"/>
</message>
<message name="AutentificarResponse">
<part name="parameters" element="tns:AutentificarResponse"/>
</message>
<message name="listaHorarios">
<part name="parameters" element="tns:listaHorarios"/>
</message>
<message name="listaHorariosResponse">
<part name="parameters" element="tns:listaHorariosResponse"/>
</message>
<message name="GetNombrePaciente">
<part name="parameters" element="tns:GetNombrePaciente"/>
</message>
<message name="GetNombrePacienteResponse">
<part name="parameters" element="tns:GetNombrePacienteResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="InsertarReserva">
<part name="parameters" element="tns:InsertarReserva"/>
</message>
<message name="InsertarReservaResponse">
<part name="parameters" element="tns:InsertarReservaResponse"/>
</message>
<message name="InsertarPaciente">
<part name="parameters" element="tns:InsertarPaciente"/>
</message>
<message name="InsertarPacienteResponse">
<part name="parameters" element="tns:InsertarPacienteResponse"/>
</message>
<message name="InsertarUsuario">
<part name="parameters" element="tns:InsertarUsuario"/>
</message>
<message name="InsertarUsuarioResponse">
<part name="parameters" element="tns:InsertarUsuarioResponse"/>
</message>
<portType name="ServicioClinica">
<operation name="DatoMedico">
<input wsam:Action="http://servicios/ServicioClinica/DatoMedicoRequest" message="tns:DatoMedico"/>
<output wsam:Action="http://servicios/ServicioClinica/DatoMedicoResponse" message="tns:DatoMedicoResponse"/>
</operation>
<operation name="Autentificar">
<input wsam:Action="http://servicios/ServicioClinica/AutentificarRequest" message="tns:Autentificar"/>
<output wsam:Action="http://servicios/ServicioClinica/AutentificarResponse" message="tns:AutentificarResponse"/>
</operation>
<operation name="listaHorarios">
<input wsam:Action="http://servicios/ServicioClinica/listaHorariosRequest" message="tns:listaHorarios"/>
<output wsam:Action="http://servicios/ServicioClinica/listaHorariosResponse" message="tns:listaHorariosResponse"/>
</operation>
<operation name="GetNombrePaciente">
<input wsam:Action="http://servicios/ServicioClinica/GetNombrePacienteRequest" message="tns:GetNombrePaciente"/>
<output wsam:Action="http://servicios/ServicioClinica/GetNombrePacienteResponse" message="tns:GetNombrePacienteResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://servicios/ServicioClinica/helloRequest" message="tns:hello"/>
<output wsam:Action="http://servicios/ServicioClinica/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="InsertarReserva">
<input wsam:Action="http://servicios/ServicioClinica/InsertarReservaRequest" message="tns:InsertarReserva"/>
<output wsam:Action="http://servicios/ServicioClinica/InsertarReservaResponse" message="tns:InsertarReservaResponse"/>
</operation>
<operation name="InsertarPaciente">
<input wsam:Action="http://servicios/ServicioClinica/InsertarPacienteRequest" message="tns:InsertarPaciente"/>
<output wsam:Action="http://servicios/ServicioClinica/InsertarPacienteResponse" message="tns:InsertarPacienteResponse"/>
</operation>
<operation name="InsertarUsuario">
<input wsam:Action="http://servicios/ServicioClinica/InsertarUsuarioRequest" message="tns:InsertarUsuario"/>
<output wsam:Action="http://servicios/ServicioClinica/InsertarUsuarioResponse" message="tns:InsertarUsuarioResponse"/>
</operation>
</portType>
<binding name="ServicioClinicaPortBinding" type="tns:ServicioClinica">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="DatoMedico">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Autentificar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listaHorarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetNombrePaciente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="InsertarReserva">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="InsertarPaciente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="InsertarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServicioClinica">
<port name="ServicioClinicaPort" binding="tns:ServicioClinicaPortBinding">
<soap:address location="http://localhost:8080/WebServiceJava/ServicioClinica"/>
</port>
</service>
</definitions>